<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <% if can? :delete, user %>
    <td>
    <% unless user.admin?%>
    <%= link_to t("delete"), admin_user_path(user), class: "16_btn_admin btn btn-primary",
      method: :delete, data: {confirm: t("you_sure")} %>
    <% end %>
    </td>
  <% end %>
</tr>
